<%= form_for(blog) do |f| %>
  <% if blog.errors.any? %>
    <% blog.errors.full_messages.each do |error| %>
        <%= alert_generator error %>
    <% end %>
  <% end %>

  <div class="form-group">
    <%= f.text_field :title, class: 'form-control', placeholder: "Title" %>
  </div>

  <div class="form-group">
    <%= f.text_area :body, class: 'form-control', rows: 15, placeholder: "Content" %>
  </div>

<% if logged_in?(:site_admin) %>
  <div class="form-group">
    <%= f.radio_button :status, "draft" %>
    <%= f.label "Draft" %>
  </div>
  <div class="form-group">
    <%= f.radio_button :status, "published" %>
    <%= f.label "Published" %>
  </div>
<% end %>

  <div class="form-group">
    <%= f.select :topic_id do %>
      <% @topic_options.each do |option| %>
        <%= content_tag(:option, option.first, value: option.last) %>
      <% end %>
    <% end %>
  </div>

  <div class="form-group">
    <%= f.submit "Submit", class: 'btn btn-primary' %>
  </div>
<% end %>